<main>
    
    <div class="container">
         <div class="row">
            <div class="col-6 offset-3">
                <form action="/cadastrar" method="post" enctype="multipart/form-data">
                    <input type="text" name="nome" class="form-control" id="" placeholder="Nome do Produto">
                    <input type="number" name="valor" class="form-control" id="" placeholder="Valor do Produto">
                    <input type="file" name="imagem" class="form-control" id="">
                    <input type="submit" class="btn btn-primary" value="cadastrar">
                </form>
            </div>
         </div>
    </div>
</main>